/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
    //--color-primary: #5721f2;
    //--color-on-surface: #000;

    --bg-color: #F9F8FB;
    --box-border-color: #E2E8EB;
    --basic-dark-color: #14132B;
    --secondary-gray-color: #989BB4;
    --white-color: #FFF;
    --button-bg-color: #7863F9;
    --font-source-sans: 'Source Sans Pro', sans-serif;
    --button-second-color: #7863F9;
}