.pricing-component {
  & &__box-button {
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: -0.01em;
    color: var(--font-color);
    background-color: var(--bg-color);
    padding: 17px 32px;
    border: none;
    border-radius: 16px;
    height: 48px;
    transition: background-color 0.7s;
    img {
        width: 32px;
      }

    &[data-loading="0"] {
      .loading {
        display: none;
      }

      .text {
        display: block;
      }
    }

    &[data-loading="1"] {
        padding: 7px;

      .loading {
        display: block;
      }

      .text {
        display: none;
      }
    }

    &[disabled] {
        opacity: 0.1;
        pointer-events: none;
    }

  }

  & &__box-button:hover {
    background-color: var(--bg-hover-color);
    cursor: pointer;
  }

  & &__box-button:active {
    background-color: var(--bg-active-color);
  }

  @media (max-width: 1075px) {
    & &__box-button {
      align-self: flex-end;
      width: 100%;
      max-width: 260px;
    }

    .button-basic-margin {
        margin-top: 14px;
      }

    .button-pro-margin {
      margin-top: -16px;
    }

    .button-enter-margin {
      margin-top: -44px;
    }
  }

  @media (max-width: 585px) {
    & &__box-button {
      max-width: 100%;
      align-self: center;
    }

    .button-basic-margin {
      margin-top: 86px;
    }

    .button-pro-margin {
      margin-top: 56px;
    }

    .button-enter-margin {
      margin-top: 27px;
    }
  }
}
